<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'index' %}?next=/">首页</a></li>
            <li><a href="{% url 'company' %}">公司</a></li>
            <li><a href="{% url 'school' %}">学校</a></li>
            <li>{{ username }}</li>
        </ul>
    </header>

    <div class="content">
        {% block content %}
            我是父模板中的内容
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
            这是页脚部分
        {% endblock %}
    </footer>
</body>
</html>